<%- include('../partials/header.ejs') %>
<section class="table">
<h2>BOOK A TICKET</h2>
			<form action="/flights/<%= id %>/tickets" method="POST">
				<label
        >Book a ticket <input name="seat" placeholder="1B"/>
        </label>
          <input type="number" name="price" placeholder="$$$"/> </label
        ><br />
        <input type="submit" value="Get a ticket" /> 
      </form>
  </section>


<%- include('../partials/footer.ejs') %>




